.container
  .row
    .col-md-4
      = render 'form'
    .col-md-8
      %h3 Departamentos
      %table.table.table-bordered
        %thead
          %tr
            %th Nombre
            %th.col-sm-1 Visitantes activos
            %th.col-sm-1 Staff
            %th.col-sm-1 Modificar
            %th.col-sm-1 Eliminar
        %tbody
          = render partial: 'office', collection: @offices
      = paginate @offices
