%tr
  %td= office[:name]
  %td= link_to 'Ver', office_visits_path(office.slug), target: '_blank', class: 'btn btn-primary btn-xs'
  %td= link_to 'Editar', edit_office_path(office), class: 'btn btn-info btn-xs'
  %td= link_to 'Eliminar', office_path(office), method: :delete, class: 'btn btn-danger btn-xs'
