.container
  .row
    .col-md-6
      .row
        .col-sm-6
          %h3= "Departamento: #{@office.name}"
        .col-sm-6.text-right
          = link_to 'Nuevo staff', new_office_staff_path(@office), class: 'btn btn-primary mt-20 mb-10'
      %hr
      %table.table.table-condensed
        %thead
          %tr
            %th Nombre
            %th.col-sm-1 Editar
            %th.col-sm-1 Eliminar
        %tbody
          = render partial: 'staffs/staff', collection: @office.staff
    .col-md-6