.container
  .row
    .col-md-6
      .row
        .col-sm-6
          %h3= @office.name
        .col-sm-6
          = link_to 'Nuevo staff', new_office_staff_path(@office), class: 'btn btn-primary mt-20 mb-10'
    .col-md-6