%h3 Visitas recientes
.panel.panel-success
  .panel-heading Activas
  %table.table.table-condensed
    %thead
      %tr
        %th 
        %th Visitante
        %th Departamento
        %th Visita a
        %th Hora de entrada
        %th.col-sm-1 Salida
    %tbody
      = render partial: 'current_visit', collection: @current_visits_in, as: :visit
  = paginate @current_visits_in, param_name: "current_visits_page"

.panel.panel-info
  .panel-heading Salidas
  %table.table.table-condensed
    %thead
      %tr
        %th 
        %th Visitante
        %th Departamento
        %th Visita a
        %th Hora de entrada
        %th Hora de salida
    %tbody
      = render partial: 'past_visit', collection: @past_visits_out, as: :visit
  = paginate @past_visits_out, param_name: "past_visits_page"