%h3 Visitas recientes
.panel.panel-success
  .panel-heading Activas
  %table.table.table-condensed
    %thead
      %tr
        %th.col-sm-1 
        %th Visitante
        %th Departamento
        %th Visita a
        %th Hora de entrada
        %th.col-sm-1 Salida
    %tbody
      = render partial: 'current_visit', collection: @current_registers, as: :visit
= paginate @current_registers, param_name: "current_registers_page"
.panel.panel-info
  .panel-heading Salidas
  %table.table.table-condensed
    %thead
      %tr
        %th.col-sm-1 
        %th Visitante
        %th Departamento
        %th Visita a
        %th Hora de entrada
        %th Hora de salida
    %tbody
      = render partial: 'past_visit', collection: @current_outputs, as: :visit
= paginate @current_outputs, param_name: "current_outputs_page"