- title 'Visitas'
.content-visits
  .container
    .row
      .col-md-4
        = render 'form'
      .col-md-8
        = render 'tables'

= content_for :javascripts do
  :javascript
    onLoad(function(){
      new App.Utils.SelectsPickers();
    });