- title 'Visitas'
.content-visits
  .container
    .row
      .col-md-7
        = render 'search'
      .col-md-5
        = render 'tables'

= content_for :javascripts do
  :javascript
    onLoad(function(){
      new App.Utils.SelectsPickers();
    });