@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "devise";
@import "logbooks";
@import "offices";
@import "visits";
@import "reports";
@import "global";
@import "bootstrap-select.min";


body {
  margin-top: 60px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}
